<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tihmels.vscdiff</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>21845FBE-D37F-4CD3-AF5A-55E1E9604140</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BAD720E-1A04-4BA1-9585-DA24016F6475</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A8807BC-C7D4-48C5-B647-947B9F3A9271</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF428E03-6F53-4A29-835C-93D070704CEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BAD720E-1A04-4BA1-9585-DA24016F6475</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6D25A76-ADE8-4CC0-9686-78298EF96321</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA513D19-039D-4FD3-8554-9CC5676DFA73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BAD720E-1A04-4BA1-9585-DA24016F6475</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6D25A76-ADE8-4CC0-9686-78298EF96321</key>
		<array/>
		<key>DF428E03-6F53-4A29-835C-93D070704CEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA513D19-039D-4FD3-8554-9CC5676DFA73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21845FBE-D37F-4CD3-AF5A-55E1E9604140</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tjado Ihmels</string>
	<key>description</key>
	<string>Easily compare the last two clipboard items side-by-side in Visual Studio Code. Supports text, code, and popular file formats like JSON, JavaScript, HTML, and more. Streamline your workflow with automatic formatting and a seamless diffing experience.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VSC Diff</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>before</string>
				<key>filetext</key>
				<string>{var:BEFORE}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>CA513D19-039D-4FD3-8554-9CC5676DFA73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"JavaScript","arg":"js"},{"title":"JSX","arg":"jsx"},{"title":"JSON","arg":"json"},{"title":"HTML","arg":"html"},{"title":"CSS","arg":"css"},{"title":"YAML","arg":"yaml"},{"title":"Markdown","arg":"md"},{"title":"Vue","arg":"vue"},{"title":"Text","arg":"txt"},{"title":"TypeScript","arg":"ts"},{"title":"Less","arg":"less"},{"title":"SCSS","arg":"scss"},{"title":"Ember","arg":"hbs"},{"title":"GraphQL","arg":"graphql"},{"title":"TypeScript (JSX)","arg":"tsx"}]</string>
				<key>keyword</key>
				<string>diff</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Compare the last two clipboard contents using VS Code</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2A8807BC-C7D4-48C5-B647-947B9F3A9271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/zsh

BEFORE="$alfred_workflow_cache/before.$FORMAT"
AFTER="$alfred_workflow_cache/after.$FORMAT"

mv "$alfred_workflow_cache/before" "$BEFORE"
mv "$alfred_workflow_cache/after" "$AFTER"

prettier --write "$BEFORE"
prettier --write "$AFTER"

code --diff "$BEFORE" "$AFTER"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6D25A76-ADE8-4CC0-9686-78298EF96321</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>AFTER</key>
					<string>{clipboard:0}</string>
					<key>BEFORE</key>
					<string>{clipboard:1}</string>
					<key>FORMAT</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DF428E03-6F53-4A29-835C-93D070704CEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3BAD720E-1A04-4BA1-9585-DA24016F6475</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>after</string>
				<key>filetext</key>
				<string>{var:AFTER}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>21845FBE-D37F-4CD3-AF5A-55E1E9604140</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21845FBE-D37F-4CD3-AF5A-55E1E9604140</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>2A8807BC-C7D4-48C5-B647-947B9F3A9271</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>3BAD720E-1A04-4BA1-9585-DA24016F6475</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>CA513D19-039D-4FD3-8554-9CC5676DFA73</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D6D25A76-ADE8-4CC0-9686-78298EF96321</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>DF428E03-6F53-4A29-835C-93D070704CEA</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
